
  <div class="template-content-wrap">
    <h3 class="form-widget-header"> 
      Form Widget: Create
    </h3>

    <form>
      <div class="yui3-widget wf2-field wf2-field-content wf2-field-text auto medium wf2-field-focused">
        
        <label for="bankName"> Bank Name</label>

        <div class="wf2-field-body wf2-textinput">
          <div class="wf2-field-state">
              <input type="text" class="bank-name wf2-field-control" placeholder="Enter Bank Name">
          </div>
        </div>

      </div>

      <div class="yui3-widget wf2-field wf2-field-content wf2-field-text auto medium wf2-field-focused">
        
        <label for="transferAmount"> Transfer Amount </label>

        <div class="wf2-field-body wf2-textinput">
          <div class="wf2-field-state">
              <input type="text" class="transfer-amount wf2-field-control" placeholder="Enter Transfer Amount">
          </div>
        </div>

      </div>

    <button type="submit" class="new-transaction wf2-button yui3-button wf2-button-primary">
      Create Payment
    </button>
    </form>

  </div>

